jsonPath=MATE test cases dump json path
packageName=App package name (i.e., the one used for the Activities)
testPackageName=Test package name (i.e., the one used for the test cases)
compiledPackageName=Compiled package name (i.e., the one used when compiling with the provided build type and product flavors)
buildType=Build type to compile and filter APKs
productFlavors=Product flavors (comma separated) to compile and filter APKs
rootProjectPath=Root of the project
outputPath=Folder where to output generated test cases