jsonPath=MATE test cases dump json path
packageName=App package name (i.e., the one used for the Activities in the source code)
testPackageName=Test package name (i.e., the one used for the test cases in the source code)
compiledPackageName=Compiled package name (i.e., the one which ends up being installed in the emulator/device)
compiledTestPackageName=Compiled test package name (i.e., the one which ends up being installed in the emulator/device)
buildType=Build type to compile and filter APKs
productFlavors=Product flavors (comma separated) to compile and filter APKs
rootProjectPath=Root of the project
outputPath=Folder where to output generated test cases